In [1]:
from paraphraser import Paraphraser
from semantic_modification import SemChanger
import pandas as pd
from tqdm import tqdm

df = pd.read_csv('../train.csv')
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [2]:
prph = Paraphraser(device='cuda')
changer = SemChanger()

In [3]:
new_df = pd.DataFrame(columns=['art_num', 'orig_text', 'par_text', 'sem_text', 'par_sem_text'])
new_df

Empty DataFrame
Columns: [art_num, orig_text, par_text, sem_text, par_sem_text]
Index: []

In [4]:
for i in tqdm(range(len(df.iloc[:3]))):
    text = df['text'][i]
    par_text = prph(text)
    sem_text = changer.change_facts(text)
    par_sem_text = changer.change_facts(par_text)
    new_df = new_df.append({'art_num': i, 'orig_text': text, 'par_text': par_text, 
                   'sem_text': sem_text, 'par_sem_text': par_sem_text}, ignore_index=True)

100%|██████████| 3/3 [00:30<00:00, 10.01s/it]

In [5]:
new_df

,art_num,orig_text,par_text,sem_text,par_sem_text
0,0,В суперсервисе «Помощь при переезде в рамках п...,"""Суперсервис """"Помощь в переезде в рамках рено...",В суперсервисе «Помощь при переезде в рамках п...,"""Суперсервис """"Помощь в переезде в рамках рено..."
1,1,Проект «Активный гражданин» подвел итоги работ...,"""В прошлом году Проект """"Активный Гражданин"""" ...",Проект «Активный гражданин» подвел итоги работ...,"""В прошлом году Проект """"Активный Гражданин"""" ..."
2,2,В ночь на 1 января в столице запустят новогодн...,В столице в ночь на 01 января стартуют новогод...,В ночь на 1 января в столице запустят новогодн...,В столице в ночь на 1881 января стартуют новог...